.footer {
  text-align: center;


  bottom: 0;
}
.footer h1 {
  text-transform: uppercase;
  font-size: 42px;
}

.footer a{
  text-decoration: none;
}
.footer p {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 1px;
}
.footer_module {
  margin-bottom: 30px;
}
.copyright {
  margin-top: 70px;
  bottom: 0;
  background-color:  rgb(144, 115, 144);
  color: white;
  display:block;
  width:100%;
}
