.footer {
  text-align: center;
    background-image: url("../pictures/creepyskate_doodle.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;

  bottom: 0;
}
.footer h1 {
  text-transform: uppercase;
  font-size: 42px;
}

.footer a{
  text-decoration: none;
}
.footer p {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 1px;
}
.footer_module {
  margin-bottom: 30px;
}
.copyright {
  margin-top: 70px;
  bottom: 0;
  background-color:  rgb(221, 202, 202);
  color: black;
  display:block;
  width:100%;
}
