header {
  height: 400px;
  width: 100%;
  background-color: rgb(225, 142, 30);
  padding: 10, 30, 30, 10;
  position: absolute;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;

}

#title {
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    font-style: oblique;

  }

  #tagline {
    font-size: 50px;
    text-align: center;
    font-weight: italic;

  }
  .navbar {
    height: 80px;
    margin: auto;
    font-size: 45px;
    text-align: center;
    top: 0;
    width: 100%;
    position: absolute;


  }




body {
  height: 3000px;
  width: 75%;
  margin: 2.5%;
  background-image: url("../pictures/background_one.jpg");
  background-origin: inherit;
  background-size: 3000px;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 70px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  max-width: 100%;
  overflow-x: hidden;
}





}



}



}
