.navbar  {
  font-size: 20px;
  height: 80px;
  top: 0;
  margin-right: 20px;
  z-index: 10;
  width: 100%;
  padding-top:5px;
  box-shadow:10px 10px 10px gray;
  border: outset rgb(94, 74, 119);
  text-transform: uppercase;

}
span .glyphicon-home {
  margin-right: 40px;
}

}

}
li {


}
#search-form {
  display: none;
}
@media screen and (max-width: 400px) {
    #search-form{
      display: none;
    }
    font-family: 'EB Garamond', serif;
  font-family: 'Courgette', cursive;
