.navbar  {
  font-size: 20px;
  height: 60px;
  top: 0;
  z-index: 10;
  width: 100%;
  padding-top:5px;
  box-shadow:10px 10px 10px gray;
  text-transform: uppercase;

}
.navbar.container{
  width:100%;
}
.navbar-nav li {
  margin-right: 10px;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
    font-size: 16px;
    background-image: url("../pictures/search.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 30px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 20%;
}

}

/* When the input field gets focus, change its width to 100% */

}
.navbar-left {
  margin-right: 40px;

}

  @media only screen and (max-width: 768px) {
    .big-nav {
      display:none;
    }
}
