#section1{
  margin-top: 20px;
  text-align: center;
  line-height: 200%;
  padding-top:80px;
}
#section1 h1 {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 40px;
}
#section1 hr {
  border-color:rgb(102, 3, 129);
  margin-right: 250px;
  margin-left: 250px;
  border-width: 5px;
  border-style: outset;
}
#section1 img{
  height: 400px;
  width:100%;


}
