#section2 {
 width: 100%;
 padding-top: 130px;
}
#section2 h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
}
#section2 hr {
  border-color:rgb(23, 78, 5);
  margin-right: 250px;
  margin-left: 250px;
  border-width: 3px;
}
#gallery {
  margin-top: 40px;

  height: 1300px;
  width:100%;
  border: none;




}
