#section4{
  margin-top: 100px;
  width: 100%;
  padding-top: 10px;
  font-family:'Josefin Sans', sans-serif;
  background-image: url("../pictures/weecrow3.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;


}
#section4 p {
  font-size: 19px;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 45px;

}
#section4 h1 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 50px;
  margin-top: 20px;
}
#section4 hr {
  border-color:rgb(24, 151, 237);
  margin-right: 31%;
  margin-left: 31%;
  border-width: 3px;


}
.btn-file {
  float: left;
  margin-left: 20px;
}
label.send {
  width: 90px;
  height: 40px;
  font-size: 18px;
  border-color: black;
  margin-right: 140px;
}
