
#section3 img {
  width:100%;
  height: "*";
  align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#section3 p {


  text-align: justify;

  font-size:20px;
}

#section3 {
  padding-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(../pictures/bird_doodle3.jpg);
    background-position: 24% 0%;
    background-repeat: no-repeat;
}


#section3 h1 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 50px;
  text-align: center;
}


/*the line under the heading*/
#section3 hr {
  border-color:rgb(255, 161, 0);
  margin-right: 30%;
  margin-left: 30%;
  border-width: 3px;

}
#section3 h2 {
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
}
#section3 .row{
  text-align: center;

}

#section3 p {
  padding-top: 15px;
  padding-bottom: 15px;
}
.w3-container {
  width: 100%;
}
