
#section3 img {
  width:100%;
  height: "*";
  align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#section3 p {


  text-align: justify;

  font-size:20px;
}

#section3 {
  padding-top: 100px;
    font-family: 'Josefin Sans', sans-serif;

}


#section3 h1 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 50px;
  text-align: center;
}


/*the line under the heading*/
#section3 hr {
  border-color:rgb(255, 161, 0);
  margin-right: 200px;
  margin-left: 200px;
  border-width: 3px;

}
#section3 h2 {
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
}
#section3 .row{
  text-align: center;

}
.button3 {
  width: 85%;
  padding-left: 20px;
  margin-top:20px;
  box-shadow: 3px 3px #999;
  transition: all 0.5s;
  cursor: pointer;

}
.button3 h2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button3 h2:after {
  font-family: FontAwesome;
  content: '\f103';
  position: relative;
  opacity: 0;
  top: 0;
  right: 70px;
  transition: 0.6s;
}

.button3:hover {
  padding-right: 10px;
  background-color: rgb(154, 81, 105);
}

.button3:hover h2:after {
  opacity: 1;
  right: -20px;
}
#section3 p {
  padding-top: 15px;
  padding-bottom: 15px;
}
}
