#section4{
  padding-bottom:80px;
  width: 100%;
  padding-top: 130px;


}
#section4 h1 {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 50px;
}
#section4 hr {
  border-color:rgb(24, 151, 237);
  margin-right: 250px;
  margin-left: 250px;
  border-width: 3px;


}
form {
  left:0 auto;
}
.fa {


}
