#section3 .container {
  height:100%;

}





#section3 {
  padding-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(../pictures/bird_doodle3.jpg);
    background-position: 50% 90%;

    background-repeat: no-repeat;
    height: 100%;
    margin-bottom: -110px;

}


#section3 h1 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 50px;
  text-align: center;
}


/*the line under the heading*/
#section3 hr {
  border-color:rgb(255, 161, 0);
  margin-right: 30%;
  margin-left: 30%;
  border-width: 3px;
}
#section3 h2 {
  font-size: 30px;
}
