#section4{

  width: 100%;
  padding-top: 160px;
  font-family:'Josefin Sans', sans-serif;
  background-image: url("../pictures/weecrow3.png");
  background-repeat: no-repeat;
  background-position: right top;


}
#section4 p {
  font-size: 19px;
  margin-right: 20%;
  margin-left: 20%;

}
#section4 h1 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 50px;
}
#section4 hr {
  border-color:rgb(24, 151, 237);
  margin-right: 250px;
  margin-left: 250px;
  border-width: 3px;


}
.btn-file {
  float: left;
  margin-left: 20px;
}
button[type="submit"] {
  width: 90px;
  height: 40px;
  font-size: 18px;
  border-color: black;
  margin-right: 140px;
}
